.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  link {
    text-decoration: none;
  }
  i {
    font-size: 22px;
    cursor: pointer;
  }
  h2 {
    font-family: "Montserrat";
    margin-right: 50px;
  }
  img {
    margin: 10px;
    cursor: pointer;
  }
  .Header_select,
  .Header_purchase,
  .Header__choice_item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Header__choice {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 120px;
    margin-top: 300px;
    z-index: 2;
    position: absolute;
    width: 200px;
    min-height: 250px;
    max-height: 800px;
    background-color: #fffefe;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    .Header__choice_item {
      i {
        font-size: 25px;
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        color: #1c1c27;
      }
    }
    .Header_choice__phone {
      margin: 5px;
      margin-bottom: 10px;
      p {
        font-size: 15px;
        color: #1c1c27;
        cursor: pointer;
      }
      p:hover {
        color: orange;
      }
    }
  }
  .Header__favorite,
  .Header__basket {
    .amount {
      position: absolute;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fffefe;
      z-index: 3;
      margin-left: 30px;
      width: 18px;
      height: 18px;
      background-color: orange;
      border-radius: 50%;
    }
  }
  .Header__basket {
    .amount {
      margin-top: 3px;
    }
  }
}
